
@model IEnumerable<RentCarProject.Models.Vehicle>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    @await Component.InvokeAsync("CategoryList")




    @await Component.InvokeAsync("VehicleList", new { KategoryId = ViewBag.KategoryId })





</div>
