@model int 
<div class="row">
    <div class="col-md-6">
        <button type="submit" class="btn-secondary" asp-route-id="@Model"><i class="fa fa-fw fa-edit"></i>Düzenle</button>
    </div>
    <div class="col-md-6">
        <a asp-action="Index" class="btn-success">Kayıt Listesi</a>
    </div>
</div>